## Fairness, Accountability, Transparency and Ethics Course (FATE)
## Universitat Pompeu Fabra (UPF)
### Academic Year 2025-2026
### Author: Ashwin Singh (ashwin.singh01@estudiant.upf.edu)
*** Partially based on the original exercises made by David Solans (david.solans@upf.edu) ***

Submission date: 03/02/2025 at 23:59 on Aula Global

Please work on this notebook **individually**.

# LAB 1: Data anonymization with Python

# Getting Started

## Imports

In [4]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.mixture import GaussianMixture
from sklearn.cluster import KMeans
from scipy.stats import pearsonr

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import random

In [5]:
import warnings

warnings.filterwarnings(action="ignore")

## Loading Dataset
In this section we will use a synthetic dataset containing medical records of 100 users.

In [8]:
dataset_url = "https://raw.githubusercontent.com/Ashwin-19/UPF-FATE-2025/refs/heads/main/Lab%20I%20-%20Data%20Anonymization/Data/health_dataset.csv"
health_data = pd.read_csv(dataset_url)
health_data.head()

,PatientName,SSN,PatientID,Phone,Gender,BirthDate,ZipCode,Health Condition,Weight,Height
0,Pablo de Cobo,412-92-6881,1000,+34 738 644 211,Male,20011009,8003,Bird flu,80,184
1,Fabio Menendez Velasco,265-27-3243,1001,+34742032426,Male,20010110,8003,Bird flu,79,179
2,Flavia Cabañas Cabanillas,554-97-8002,1002,+34712747631,Female,20010101,8014,Bird flu,67,172
3,Eliana Vendrell-Vilalta,990-49-6929,1003,+34 712 466 137,Female,20001009,8002,Common cold and flu,93,184
4,César Mas Silva,833-83-9451,1004,+34716 22 73 14,Male,20000101,8002,Common cold and flu,66,171

## Types of Identifiers and Attributes [ 1 pts ]

**[ 0.5 pts ]** List the identifiers and quasi-identifiers in the dataset:

Identifiers:

PatientName,
SSN (Social Security Number),
PatientID,
Phone.

Quasi-identifiers:

Gender,
BirthDate,
ZipCode.

**[ 0.5 pts ]** List the confidential attributes in the dataset.

Health Condition,
Weight,
Height.

## Data Filtering [ 0.5 pts ]

**[ 0.5 pts ]** Remove/Suppress the columns including personally identifiable information from the dataset.

**[ Discuss ]** Why do we remove/supress them?
By removing PII, we can better ensure the safety and privacy of the data subjects while still retaining valuable information for analysis and research.

In [9]:
""" your code here """
pii_columns = ['PatientName', 'SSN', 'PatientID', 'Phone']
health_data = health_data.drop(columns=pii_columns)
health_data.head()

   Gender  BirthDate  ZipCode     Health Condition  Weight  Height
0    Male   20011009     8003             Bird flu      80     184
1    Male   20010110     8003             Bird flu      79     179
2  Female   20010101     8014             Bird flu      67     172
3  Female   20001009     8002  Common cold and flu      93     184
4    Male   20000101     8002  Common cold and flu      66     171

# K-Anonymity

## Checking K-Anonymity [ 2 pts ]

**[ 1.5 pts ]** Create a function which checks whether the data sastifies k-anonimity given some quasi-identifiers. Also return the maximum k for which the quasi-identifiers satisfy k-anonymity.

In [12]:
def is_k_anonymous(data, quasi_identifiers):
    """
    Determines whether the data is k-anonymous quasi-identifiers
    and the maximum k for which k-anonymity is satisfied.

    Args:
        data (pandas.DataFrame): microdata
        quasi_identifiers (list): quasi-identifiers in microdata

    Returns:
        bool: indicating whether the data is k-anonymous
        int: maximum k for which k-anonymity is satisfied
    """
    grouped = data.groupby(quasi_identifiers).size()
    
    max_k = grouped.min()
    
    is_k_anonymous = max_k > 1

    return is_k_anonymous, max_k

**[ 0.25 pts ]** Is the data k-anonymous for BirthDate and ZipCode? If so, what is the maximum k for which k-anonymity is satisfied?

In [13]:
quasi_identifiers = ['BirthDate', 'ZipCode']

is_anonymous, max_k = is_k_anonymous(health_data, quasi_identifiers)

print(f"Is the data k-anonymous? {is_anonymous}")
print(f"Maximum k for which k-anonymity is satisfied: {max_k}")

Is the data k-anonymous? False
Maximum k for which k-anonymity is satisfied: 1

**[ 0.25 pts ]** Is the data k-anonymous for Gender and ZipCode? If so, what is the maximum k for which k-anonymity is satisfied?

In [14]:
quasi_identifiers = ['Gender', 'ZipCode']

is_anonymous, max_k = is_k_anonymous(health_data, quasi_identifiers)

print(f"Is the data k-anonymous? {is_anonymous}")
print(f"Maximum k for which k-anonymity is satisfied: {max_k}")

Is the data k-anonymous? True
Maximum k for which k-anonymity is satisfied: 3

## Testing K-Anonimity [ 1 pts ]

To test our function, we will use a dataset from the example given in the [K-Anonymity article](https://en.wikipedia.org/wiki/K-anonymity) on Wikipedia and satisfies 2-anonymity for any combination of the attributes ``Age``, ``Gender`` and ``State of domicile``.

In [15]:
wiki_data = pd.read_html("https://en.wikipedia.org/wiki/K-anonymity",header=0)[1]
wiki_data

,Name,Age,Gender,Height,Weight,State of domicile,Religion,Disease
0,*,20 < Age ≤ 30,Female,165 cm,72 kg,Tamil Nadu,*,Cancer
1,*,20 < Age ≤ 30,Female,162 cm,70 kg,Kerala,*,Viral infection
2,*,20 < Age ≤ 30,Female,170 cm,68 kg,Tamil Nadu,*,Tuberculosis
3,*,20 < Age ≤ 30,Male,170 cm,75 kg,Karnataka,*,No illness
4,*,20 < Age ≤ 30,Female,165 cm,71 kg,Kerala,*,Heart-related
5,*,20 < Age ≤ 30,Male,160 cm,69 kg,Karnataka,*,Tuberculosis
6,*,Age ≤ 20,Male,167 cm,85 kg,Kerala,*,Cancer
7,*,20 < Age ≤ 30,Male,180 cm,81 kg,Karnataka,*,Heart-related
8,*,Age ≤ 20,Male,175 cm,79 kg,Kerala,*,Heart-related
9,*,Age ≤ 20,Male,169 cm,82 kg,Kerala,*,Viral infection

**[ 1 pts ]** Test k-anonimity for the three attributes and their different combinations picking two attributes at a time. For each combination, find the maximum k satisfying k-anonymity.

In [17]:
combinations = [
    ['Age', 'Gender'],
    ['Age', 'State of domicile'],
    ['Gender', 'State of domicile']
]

results = {}
for combo in combinations:
    is_anonymous, max_k = is_k_anonymous(wiki_data, combo)
    results[tuple(combo)] = (is_anonymous, max_k)

for combo, result in results.items():
    print(f"Combination: {combo}")
    print(f"Is the data k-anonymous? {result[0]}")
    print(f"Maximum k for which k-anonymity is satisfied: {result[1]}")
    print()

Combination: ('Age', 'Gender')
Is the data k-anonymous? True
Maximum k for which k-anonymity is satisfied: 3

Combination: ('Age', 'State of domicile')
Is the data k-anonymous? True
Maximum k for which k-anonymity is satisfied: 2

Combination: ('Gender', 'State of domicile')
Is the data k-anonymous? True
Maximum k for which k-anonymity is satisfied: 2

## Properties of K-Anonymity [ 1 pts ]
> You may use examples from the previous exercises.

**[ 0.5 pts ]** If a dataset is $k_1$-anonymous for a set of attributes, and $k_2$-anonymous for any subset of those attributes, what is the relationship between $k_1$ and $k_2$? Can you show an example?

The relationship between *k<sub>1</sub>* and *k<sub>2</sub>* is that *k<sub>2</sub>* must be less than or equal to *k<sub>1</sub>*.

In other words, if a dataset is *k<sub>1</sub>*-anonymous for a set of attributes, it will be *k<sub>2</sub>*-anonymous for any subset of those attributes, with *k<sub>2</sub> ≤ k<sub>1</sub>*.

The previous tests we have done in this code prove that this statement holds. An example is the *k*-anonymity for `Gender` and `ZipCode`, where:

- For the attributes `Gender` and `ZipCode` together, the dataset achieves a *k<sub>1</sub>*-anonymity value of 3 (each combination of `Gender` and `ZipCode` appears at least 3 times in the dataset).
- For the individual attribute `Gender` (a subset of `Gender` and `ZipCode`), the *k<sub>2</sub>*-anonymity value is 4 (since each value of `Gender` appears at least 4 times in the dataThis demonstrates that *k<sub>2</sub> ≥ k<sub>1</sub>* for subsets of attributes, as the subset (`Gender`) maintains or increases the frequency count compared to the full combination (`Gender` and `ZipCode`). on how the
.

In [21]:
quasi_identifiers = ['Gender', 'ZipCode']

is_anonymous, max_k = is_k_anonymous(health_data, quasi_identifiers)

print(f"Is the data k-anonymous? {is_anonymous}")
print(f"Maximum k for which k-anonymity is satisfied: {max_k}")

Is the data k-anonymous? True
Maximum k for which k-anonymity is satisfied: 3

**[ 0.5 pts ]** If a dataset is $k_1$-anonymous given an attribute $a_1$, and $k_2$-anonymous given an attribute $a_2$, is the dataset always $k$-anonymous given attributes $\{a_1,a_2\}$ ? If not, show an example, and find the maximum $k$ for which the dataset can be $k$-anonymous.

ttributes \( A \) and \( B \).

## Methods for K-Anonymity [ 5 pts ]

### GLOBAL Recoding (Generalization)

**[ 0.25 pts ]** Create a function which applies **global recoding** to an attribute in the data upto $n$ digits.

In [ ]:
def global_recoding(data, attribute, n):
    """
    applies global recoding to an attribute in the data for n digits

    Args:
        data (pandas.DataFrame): data for anonymization
        attribute (str): attribute to be recoded
        n (int): number of digits to be recoded

    Returns:
        pandas.DataFrame: globally recoded data
    """
    # your code here

**[ 0.75 pts ]** Use the function to list all possible ways of 3-anonymizing the dataset given attributes ``BirthDate`` and ``ZipCode``. What is the best way of 3-anonymizing the dataset if we want to preserve maximum information about the health conditions across different zip codes?

**[ Answer ]**

In [ ]:
# your code here

**[ 1 pts ]** For the best way of $3$-anonymizing the dataset from last question, comment on the sufficiency of $k$-anonymity against **homogeneity** and **internal** attacks aimed at inferring the health condition of patients. If you find $k$-anonymity to be insufficient, you must show quasi-identifier equivalence classes (groups) susceptible to the attacks.

In [ ]:
# your code here

In [ ]:
# your code here

### Microaggregation

**[ 2 pts ]** Create a function which microaggregates continuous attributes (``height, weight``) to achieve $k$-anonymity, while minimizing the loss in information across both attributes. Return the best-possible $k$-anonymity and corresponding loss.

**Recommended Approach**: Experiment with a clustering algorithm for $n \leq \frac{|Data|}{k}$ clusters to achieve $k$-anonymity, and use sum of squared errors between original and anonymized data for loss of information.

In [ ]:
def microaggregation(data,attributes,k):
    """
    applies microaggregation to attributes in the data
    to achieve k'-anonymity, k' >= k

    Args:
        data (pandas.DataFrame): data for anonymization
        attributes (list): attributes to be microaggregated
        k (int): lower bound of k-anonymity to achieve

    Returns:
        tuple:
            float: loss of information to achieve k' anonymity
            int: k' corresponding to k'-anonymity achieved
    """
    return loss, observed_k

**[ 1 pts ]** Plot the relationship between $k$-anonymity achieved v/s loss of information for $k \in \{2,3,4,...10\}$. What do you observe?

In [ ]:
# your code here

# L-Diversity

## Checking L-Diversity [ 1.5 pts ]

**[ 0.5 pts ]** Create a function which checks whether a dataset is l-diverse given a sensitive attribute and quasi-identifiers. If so, return the maximum-l for which the dataset satisfies l-diversity.

In [ ]:
def is_l_diverse(data, sensitive, quasi_identifiers):
    """
    checks whether a data is l-diverse for a sensitive
    attribute given quasi-identifiers, and returns the
    maximum l for which the data satisfies l-diversity

    Args:
        data (pandas.DataFrame): data to check l-diversity for
        sensitive (str): sensitive attribute for l-diversity
        quasi_identifiers (list): list of quasi-identifiers

    Returns:
        tuple:
            bool: indicating whether the data is l-diverse
            int: maximum l for which the data satisfies l-diversity
    """
    return True, l

> Answer the following questions for the original dataset, globally recoded dataset.

**[ 0.5 pts ]** Is the dataset l-diverse given ``Health Condition`` as sensitive attribute and ``ZipCode, BirthDate`` as quasi-identifiers?

In [ ]:
# your code here

In [ ]:
# your code here

**[ 0.5 pts ]** Is the dataset l-diverse given ``Gender`` as sensitive attribute and ``ZipCode, BirthDate`` as quasi-identifiers?

In [ ]:
# your code here

In [ ]:
# your code here

## L-Diversity via Local Suppression [ 2 pts ]

**[ 1 pts ]** Create a function to apply local suppression to groups within a $k$-anonymized dataset which violate $l$-diversity given a sensitive attribute, two quasi-identifiers, and $l$. If the same is not feasible, raise an error.

In [ ]:
def local_suppression(data,sensitive,quasi_identifiers,l):
    """
    locally suppresses quasi-identifier equivalence classes
    in anonymized data which violate l-diversity so that the
    overall data satisfies l-diversity

    Args:
        data (pandas.DataFrame): data for local suppression
        sensitive (str): sensitive attribute for l-diversity
        quasi_identifiers (list): quasi-identifiers to suppress
        l (int): l-diversity constraint to satisfy

    Returns:
        pandas.DataFrame: locally suppressed data satisfying l-diversity
    """
    # your code here
    return data

**[ 0.5 pts ]** Using the function, make the globally recoded dataset $2$-diverse for sensitive attribute ``Health Condition`` given quasi_identifiers ``ZipCode``,``BirthDate``, and show the suppressed groups.

In [ ]:
# your code here

In [ ]:
# your code here

**[ 0.5 pts ]** Using the function, make the globally recoded dataset $3$-diverse for sensitive attribute ``Gender`` given quasi_identifiers ``ZipCode``,``BirthDate``, and show the suppressed groups.

In [ ]:
# your code here

In [ ]:
# your code here

## Sufficiency of $k$-anonymity and $l$-diversity [ 1 pts ]

**[ 1 pts ]** Describe one scenario where $k$-anonymity and $l$-diversity would be sufficient for guaranteeing the anonymity of a dataset, and one scenario where they will be insufficient. You may use tables to illustrate your answer.

**[ Answer ]**